@* 
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@* @{
    ViewData["Title"]= "About Page";
}
<div class="text-center">
    <h1>This is the about Page</h1>
    <h2>I am Learnong the .net</h2>
</div> *@

@model dynamic

@{
    ViewBag.Title = "About";
}

<h1>@ViewBag.Title</h1>
<p>@ViewBag.Message</p>
