@{
    ViewData["Title"]="Contact-us";
}
<div class="text-center">
    <h1>This is the Contact Page</h1>
    <p>Address: Patna</p>
    <p>processing Code:- 800001</p>
    <p>Contact No : 1234567891</p>
</div>