@* 
@model dynamic

@{
    ViewData["Title"]= "Test2";
}
div.text-center

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<p>Welcome to the Test2 page of our application.</p> *@


@model dynamic

@{
    ViewBag.Title = "Test2 Page";
}

<h1>@ViewBag.Title</h1>
<p>This is the Test2 page.</p>
