@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @model dynamic

@{
    ViewBag.Title = "Test2";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<p>Welcome to the Test page of our application.</p> *@

@model dynamic

@{
    ViewBag.Title = "Test Page";
}

<h1>@ViewBag.Title</h1>
<p>This is the Test page.</p>
